##################################################
#
# adjust cali oper parameters
#----------------------------------
#Copyright all right reserved
#Beijing Tchzt Info-tech Co.Ltd
#2013.7.30
#
##################################################
[CP0]
WHOLE_ID = 1
WHOLE_STR = "PARAM_01"
MANUAL_ID = 1
MANUAL_STR = "PARAM_02"
#total 4 items
[CP1]
WHOLE_ID = 1
WHOLE_STR = "PARAM_01"
MANUAL_ID = 1
MANUAL_STR = "PARAM_02"
#total 4 items
[CP2]
WHOLE_ID = 1
WHOLE_STR = "PARAM_03"
MANUAL_ID = 1
MANUAL_STR = "PARAM_04"
#total 4 items
[CP3]
WHOLE_ID = 1
WHOLE_STR = "PARAM_05"
MANUAL_ID = 1
MANUAL_STR = "PARAM_06"
#total 4 items
[CP4]
WHOLE_ID = 1
WHOLE_STR = "PARAM_07"
MANUAL_ID = 1
MANUAL_STR = "PARAM_08"
#total 4 items
[CP5]
WHOLE_ID = 1
WHOLE_STR = "PARAM_09"
MANUAL_ID = 1
MANUAL_STR = "PARAM_10"
#total 4 items
[CP6]
WHOLE_ID = 1
WHOLE_STR = "PARAM_11"
MANUAL_ID = 1
MANUAL_STR = "PARAM_12"
#total 4 items