##################################################
#
#	chen method parameters
#	----------------------------------
#	Copyright all right reserved
#	Beijing Tchzt Info-tech Co.Ltd
#	2013
#
##################################################
[COMMON]
perX=80
perY=80
anX=1
anY=1
edgeN=5
effSumThres=10
effSumThres_c=25
#total 6 items
[EDGE]
perX=80
perY=80
anX=1
anY=1
edgeN=5
effSumThres=25
effSumThres_c=25
#total 6 items
[STAR]
perX=80
perY=80
anX=1
anY=1
edgeN=5
effSumThres=25
effSumThres_c=25
#total 6 items
[SP01]
perX=80
perY=80
anX=1
anY=1
edgeN=5
effSumThres=25
effSumThres_c=25
#total 6 items
#end