##################################################
#
#	net statics oper parameters
#	--------------------------------------------------
#	Copyright all right reserved
#	Beijing Tchzt Info-tech Co.Ltd
#	2014
#
##################################################
errSizeX = 0.05
errSizeY = 0.05
thresX = 70
thresY = 0.9
thresErrSum = 0.18
eff = 0
str = 9:
sthres = 0.85
sxE = 8
syE = 8
knthres = 300
type = 0
#total 12
###### end ########################################
