##################################################
#
# adjust cali parameters parameters
#----------------------------------
#Copyright all right reserved
#Beijing Tchzt Info-tech Co.Ltd
#2013.7.30
#
##################################################
#[WHOLE]xy in proportion, tiny
[PARAM_01]
scaleRange_xmin = 0.995
scaleRange_xmax = 1.005
scaleRange_ymin = 0.995
scaleRange_ymax = 1.005
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.002
T1_y = 0.002
T2_x = 0.001
T2_y = 0.001
T3_x = 0.001
T3_y = 0.001
T4_x = 0.001
T4_y = 0.001
caliType = 0
reserved = 0
#total 20 items
#[SELECTION]xy in proportion, tiny
[PARAM_02]
scaleRange_xmin = 0.995
scaleRange_xmax = 1.005
scaleRange_ymin = 0.995
scaleRange_ymax = 1.005
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.002
T1_y = 0.002
T2_x = 0.001
T2_y = 0.001
T3_x = 0.001
T3_y = 0.001
T4_x = 0.001
T4_y = 0.001
caliType = 0
reserved = 0
#total 20 items
#[WHOLE]xy in proportion, small
[PARAM_03]
scaleRange_xmin = 0.99
scaleRange_xmax = 1.01
scaleRange_ymin = 0.99
scaleRange_ymax = 1.01
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.0025
T1_y = 0.0025
T2_x = 0.001
T2_y = 0.001
T3_x = 0.001
T3_y = 0.001
T4_x = 0.001
T4_y = 0.001
caliType = 0
reserved = 0
#total 20 items
#[SELECTION]xy in proportion, small
[PARAM_04]
scaleRange_xmin = 0.99
scaleRange_xmax = 1.01
scaleRange_ymin = 0.99
scaleRange_ymax = 1.01
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.0025
T1_y = 0.0025
T2_x = 0.001
T2_y = 0.001
T3_x = 0.001
T3_y = 0.001
T4_x = 0.001
T4_y = 0.001
caliType = 0
reserved = 0
#total 20 items
#[WHOLE]xy in proportion, middle
[PARAM_05]
scaleRange_xmin = 0.98
scaleRange_xmax = 1.02
scaleRange_ymin = 0.98
scaleRange_ymax = 1.02
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.003
T1_y = 0.003
T2_x = 0.020
T2_y = 0.020
T3_x = 0.98
T3_y = 1.03
T4_x = 0.016
T4_y = 0.016
caliType = 0
reserved = 0
#total 20 items
#[SELECTION]xy in proportion, middle
[PARAM_06]
scaleRange_xmin = 0.98
scaleRange_xmax = 1.02
scaleRange_ymin = 0.98
scaleRange_ymax = 1.02
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.003
T1_y = 0.003
T2_x = 0.020
T2_y = 0.020
T3_x = 0.98
T3_y = 1.03
T4_x = 0.016
T4_y = 0.016
caliType = 0
reserved = 0
#total 20 items
#[WHOLE]xy is independence, small
[PARAM_07]
scaleRange_xmin = 0.995
scaleRange_xmax = 1.005
scaleRange_ymin = 0.995
scaleRange_ymax = 1.005
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.004
T1_y = 0.004
T2_x = 0.020
T2_y = 0.020
T3_x = 0.995
T3_y = 1.005
T4_x = 0.016
T4_y = 0.016
caliType = 1
reserved = 0
#total 20 items
#[SELECTION]xy is independence, small
[PARAM_08]
scaleRange_xmin = 0.995
scaleRange_xmax = 1.005
scaleRange_ymin = 0.995
scaleRange_ymax = 1.005
stepNoScal_x = 20
stepNoScal_y = 20
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.004
T1_y = 0.004
T2_x = 0.020
T2_y = 0.020
T3_x = 0.995
T3_y = 1.005
T4_x = 0.016
T4_y = 0.016
caliType = 1
reserved = 0
#total 20 items
#[WHOLE]xy is independence, middle
[PARAM_09]
scaleRange_xmin = 0.98
scaleRange_xmax = 1.02
scaleRange_ymin = 0.98
scaleRange_ymax = 1.02
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.01
T1_y = 0.01
T2_x = 0.020
T2_y = 0.020
T3_x = 0.99
T3_y = 1.01
T4_x = 0.01
T4_y = 0.01
caliType = 1
reserved = 0
#total 20 items
#[SELECTION]xy is independence, middle
[PARAM_10]
scaleRange_xmin = 0.94
scaleRange_xmax = 1.06
scaleRange_ymin = 0.94
scaleRange_ymax = 1.06
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.016
T1_y = 0.016
T2_x = 0.020
T2_y = 0.020
T3_x = 0.99
T3_y = 1.01
T4_x = 0.016
T4_y = 0.016
caliType = 1
reserved = 0
#total 20 items
#[WHOLE]xy is independence, big
[PARAM_11]
scaleRange_xmin = 0.94
scaleRange_xmax = 1.06
scaleRange_ymin = 0.94
scaleRange_ymax = 1.06
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.016
T1_y = 0.016
T2_x = 0.020
T2_y = 0.020
T3_x = 0.98
T3_y = 1.03
T4_x = 0.016
T4_y = 0.016
caliType = 1
reserved = 0
#total 20 items
#[SELECTION]xy is independence, big
[PARAM_12]
scaleRange_xmin = 0.94
scaleRange_xmax = 1.06
scaleRange_ymin = 0.94
scaleRange_ymax = 1.06
stepNoScal_x = 120
stepNoScal_y = 120
posRange_x = 0.01
posRange_y = 0.01
stepNoPos_x = 2
stepNoPos_y = 2
T1_x = 0.016
T1_y = 0.016
T2_x = 0.020
T2_y = 0.020
T3_x = 0.98
T3_y = 1.03
T4_x = 0.016
T4_y = 0.016
caliType = 1
reserved = 0
#total 20 items
#end