##################################################
#
#	hu method parameters
#	----------------------------------
#	Copyright all right reserved
#	Beijing Tchzt Info-tech Co.Ltd
#	2013
#
##################################################
[COMMON]
angleNo=7
horiNo=7
vertNo=7
circleNo=6
match_f_range=20
per_step=2
half_filter_w=2
#total 7 items
[SP01]
angleNo=7
horiNo=7
vertNo=7
circleNo=3
match_f_range=10
per_step=1
half_filter_w=2
#total 7 items
#end