##################################################
#
#	He_Yuan feature parameters
#	----------------------------------
#	Copyright all right reserved
#	Beijing Tchzt Info-tech Co.Ltd
#	2014
#
##################################################
[CHAR]
small_dot_area = 9
small_dot_area_rate = 0.001
dist_value = 1.0
rate_range = 0.16
max_rate_thres = 0.025
use = 0
#total 6
[EDGE]
small_dot_area = 9
small_dot_area_rate = 0.001
dist_value = 1.0
rate_range = 0.16
max_rate_thres = 0.03
use=0
#total 6
